@model RateSearch.Models.RateSearchModel
@{
    ViewBag.Title = "Rate Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.data.rate_results.selected_product_id)</h2>

